 *{
    box-sizing: border-box;
 }

 body {
    margin: 0;
 }

 header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding:1%;
    background-color: slategrey;
 }

 h1 {
     font-family: 'Big Shoulders Stencil Display';
     font-size: 200%;
     color:white ;
 }

 nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 300px;
  }

  nav a{
    display: flex;
    font-weight: bold;
    text-decoration: none;
    color: blueviolet;
  }

  figure {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 400px;
      background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  }

  #wIp{
      display: flex;
      color: darkred;
      align-items: flex-end;
      justify-content: flex-end;
      margin-top: 300px; 
      font-size: 200%;
  }

  main {
      display: flex;
      flex-wrap: wrap;
  }

  section {
      display: flex;
      margin: 2%;
  }

  #majorProject {
    padding: 2% ;
    margin: 0 90px 10px 50px;
    background-color:rgba(9,9,121,1);
  }

  footer ul{
    display: flex;
    justify-content: space-evenly;
    min-width: 300px;
    margin: 2%;
    font-weight: bold;
    color: blueviolet;
  }

  section h2 {
      font-weight: bold;
      font-size: 200%;
      border-right: lightcoral solid;
      border-width: 15px;
      padding: 1%
  }

  section p {
      margin: 2%;
  }

  footer h2 {
    margin: auto;
    font-weight: bold;
    font-size: 200%;
    border-bottom: lightcoral solid;
    border-width: 15px;
    padding: 1%;
  }

  footer{
      display: flex;
      flex-direction: column;
  }

  div p {
      font-weight: bold;
  }

  .lesserProjects{
      border: rebeccapurple solid;
      padding: 2% ;
      margin: 0 25px 10px 25px;
      background-color: rgba(0,212,255,1);
  }

  .work{
      display:flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      border: rebeccapurple solid;
      margin-left: 1%;
  }

  #projects {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 2% ;
      margin: 0 25px 10px 25px;
  }
